In [1]:
import mysql.connector

In [2]:

# Replace with your MySQL database configuration
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'Duke#7539',
    'database': 'sys'
}

try:
    # Create a connection to the MySQL server
    conn = mysql.connector.connect(**db_config)

    if conn.is_connected():
        print("Connected to the MySQL database.")
    else:
        print("Connection failed.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
finally:
    # Close the database connection in the end
    if 'conn' in locals():
        conn.close()

Connected to the MySQL database.

In [3]:
import mysql.connector

# Replace with your MySQL database configuration
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'Duke#7539',
    'database': 'sys'
}


# Define the SQL statement to create a new table
create_table_query = """
CREATE TABLE IF NOT EXISTS Test (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    age INT
);
"""

try:
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()

    # Execute the SQL statement to create the new table
    cursor.execute(create_table_query)
    print("Table 'new_table' has been created.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    conn.close()

Table 'new_table' has been created.

In [4]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'Duke#7539',
    'database': 'sys'}



create_table_query = """
CREATE TABLE IF NOT EXISTS Test (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    age INT
);
"""

data_to_insert = [
    (1, 'John', 30),
    (2, 'Alice', 25),
    (3, 'Bob', 35),
    (4, 'Eve', 28),
    (5, 'Charlie', 42)
]

insert_query = "INSERT INTO Test (id, name, age) VALUES (%s, %s, %s)"

try:
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()
    cursor.execute(create_table_query)
    cursor.executemany(insert_query, data_to_insert)
    conn.commit()
    print("Table 'Test' created and data inserted.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    conn.close()

Table 'Test' created and data inserted.

In [5]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'Duke#7539',
    'database': 'sys'
}

select_query = "SELECT * FROM Test"

try:
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()
    
    cursor.execute(select_query)
    
    results = cursor.fetchall()
    
    if results:
        for row in results:
            print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")
    else:
        print("No data found in the 'Test' table.")
except mysql.connector.Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    conn.close()

ID: 1, Name: John, Age: 30
ID: 2, Name: Alice, Age: 25
ID: 3, Name: Bob, Age: 35
ID: 4, Name: Eve, Age: 28
ID: 5, Name: Charlie, Age: 42

In [6]:
cursor.close()
conn.close()